
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section {
    flex: 2;
    position: relative;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login-form {
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #6c63ff;
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #5075ca;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2954b9;
}
